/* .box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
} */
/* header */
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    height: 25px;
    display: flex;
}
.logo i{
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/logo.png) no-repeat left;
    background-size: contain;
}
.logo span{
    display: block;
    font-size: 16px;
    margin-left: 8px;
}
.header-ul{
    display: flex;
}
.header-ul li{
    margin-left: 16px;
}